---

---

<html lang="uk">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Чайна хатинка</title>
	</head>
	<body>
		<h1>These are my tea pages.</h1>
	</body>
</html>
