---
import Main from '../layouts/Main.astro';

const pageTitle = "Чайна Хатинка | Читальня";
const containerMaxWidth = "900px";
---

<Main  {pageTitle} {containerMaxWidth} >
	<h1>{pageTitle}</h1>
	<h3>Тут розміщені статті про нашу Традицію, Ча Дао, чайну культуру й майстерність — про все, що пов'язано з Чаєм.</h3>
</Main>
